# /mylogs.log
# (/ represent to search the file in same directory)

# *.log
# (* represent to search all files which has .log extention)

# foldername/
# (foldername followed by forward slash is use to ignore whole folder)

mylogs.log